@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("../Partials/_FeaturedScroller")
<div id="search-container">
    <div id="search-wrap">
        <form id="main-search">
            <div>
                <input id="filter-search-bar" type="text" placeholder="Search" tabindex="1" autocomplete="off" />
            </div>
            <div class="filter-error">
            </div>
            <div class="filter-controls">
                <div class="filter-controller">
                    <button type="submit" id="filter-search" class="filter-btn" tabindex="2" data-url="@Url.Action("MovieSearch")"><i class="icon icon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="mainview">
    <div class="container col-12 endrow">
        <div class="moviecovers">

        </div>
    </div>
</div>

<!--@Html.Partial("../Partials/_SearchResults")-->

<script type="text/javascript">
    $("#main-search").submit(function(e) {
        e.preventDefault();
        $('.moviecovers').empty();
        $('.filter-error').hide().empty();
        var searchQ = encodeURIComponent($("#filter-search-bar").val()),
            request = $("#filter-search").data("url");
        if (searchQ) {
            $.get(request, { query: searchQ }, function (data) {
                console.log(data.trim());
                if (!data.trim()) {
                    $('.filter-error').append('<span>No results found :(</span>').fadeIn('250');
                } else {
                    $(".moviecovers").html(data);
                    $('html, body').animate({
                        scrollTop: parseInt($('.moviecovers').offset().top, 10)
                    }, 500);
                }
            });
        }
    })
</script>

